<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="zaaa.JPG" type="image/gif" sizes="16x16">
  <title>BNK48 SHOP</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="specimen_files/specimen_stylesheet.css" type="text/css" charset="utf-8" />
	<link rel="stylesheet" href="stylesheet.css" type="text/css" charset="utf-8" />
  <a href="/"><img src =  "BG.png" width="auto" height="auto"></a>

  <div class="topnav">
        <a href="/">HOME</a>
        <a href="/list">PRODUCT</a>
        <ul class="nav navbar-nav navbar-right">
               <a href="/insert">ADD PRODUCT</a>
        </ul>
  </div>
  </div>
  

  <div class="container">
      <div class="page-header">
          <div class="container text-center">    

              <br>  <br>
              <div class="row">
                <div class="col-sm-2">
                  <img src="1.png" class="img-responsive" style="width:100%" alt="Image">
                  <p>The Debut Photoset</p>
                </div>
                <div class="col-sm-2"> 
                  <img src="2.png" class="img-responsive" style="width:100%" alt="Image">
                  <p>Aitakatta Single Costume Photoset</p>    
                </div>
                <div class="col-sm-2"> 
                  <img src="3.png" class="img-responsive" style="width:100%" alt="Image">
                  <p> Thai costume Photoset</p>
                </div>
                <div class="col-sm-2"> 
                  <img src="4.png" class="img-responsive" style="width:100%" alt="Image">
                  <p>Merry Christmas 2017 Photoset</p>
                </div> 
                <div class="col-sm-2"> 
                  <img src="5.png" class="img-responsive" style="width:100%" alt="Image">
                  <p>Memorial of Handshake Photoset</p>
                </div>     
                <div class="col-sm-2"> 
                  <img src="6.png" class="img-responsive" style="width:100%" alt="Image">
                  <p>Koisuru Fortune Cookie Senbatsu Photoset</p>
                </div> 
              </div>
            </div>
      </div>    <hr>
      <h1> <center><b>......PRODUCT BNK48SHOP......</b></center></h1><hr>
      <div class="row">
     
      <table class="table">
      <thead class="thead-inverse">
      <tr>

      <th>PRODUCT.</th>
      <th>PDDescription</th>
      <th>Price</th>
      <th>PRODUCT STATUS</th>
      
      </tr>
      </thead>
      <tbody>
          <% 
          province = ["PHOTOSET","PHOTOBOOK","CD"];
          for(var i=0; i<data.length; i++){
          no=i+1;
          id=data[i].id;
          PicProduct=data[i].PicProduct
          PRODUCT=data[i].PRODUCT;
          PDDescription=data[i].PDDescription;
          Price=data[i].Price;
          p=data[i].province;
          sex=data[i].sex;
          if (sex=="M") {
              sex_view="In stock";
          }else{
              sex_view="Out stock";
          }
          %>
      <tr>

          <td><%=province[p]%></td>
          <td><%=PDDescription%> </td>
          <td><%=Price%></td>
          <td><%=sex%></td>
          
 
  
      </tr>
      <% } // end for%>
      </tbody>
      </table>
      </div>
   
  <div class="container text-center">   
     
    <hr><br>
    <center><h1 ><b>...TOP PRODUCT...</b></h1></center><br><hr>
        <div class="row">
          <div class="col-sm-4">
            <img src="cd1.png" class="img-responsive" style="width:100%" alt="Image">
           <p> CD BNK48 Debut Single Aitakatta อยากจะได้พบเธอ</p>



            
          
          </div>
          <div class="col-sm-4">
                  <img src="pt1.png" class="img-responsive" style="width:100%" alt="Image">
                  <p>BNK48 1st Photobook “The Sisters” TYPE A</p>
                </div>
                <div class="col-sm-4">
                  <img src="cd2.jpg" class="img-responsive" style="width:100%"   alt="Image">
                  <p>CD BNK48 2nd Single Koisuru Fortune Cookie (คุกกี้เสี่ยงทาย)</p>
                </div>

          <div class="col-sm-4"> 
            <img src="cd4.jpg" class="img-responsive" style="width:150%" alt="Image">
            <p>CD BNK48 3rd Single Shonichi TYPE A</p>    
          </div> 
           <div class="col-sm-4"> 
                  <img src="pt2.png" class="img-responsive" style="width:150%" alt="Image">
                  <p>BNK48 1st Photobook “The Sisters” TYPE B</p> 
           </div>
          <div class="col-sm-4"> 
                  <img src="cd3.jpg" class="img-responsive" style="width:150%" alt="Image">
                  <p>CD BNK48 3rd Single Shonichi TYPE B</p>    
                </div>
               
             
        
        </div>
      </div><br>
      <style>



@font-face {
    font-family: 'hammer thin';
    src: url('fonts/hammer_thin-webfont.eot');
    src: url('fonts/hammer_thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/hammer_thin-webfont.woff2') format('woff2'),
         url('fonts/hammer_thin-webfont.woff') format('woff'),
         url('fonts/hammer_thin-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
div {
  font-family: 'hammer thin';
  font-size: 20px;
}
h1 {
  font-family: 'hammer thin';
  font-size: 40px;
}
    .topnav {
            overflow: hidden;
            background: #FFF5EE;
        }
        .topnav a {
            float: left;
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        .topnav a:hover {
            background-color: #FFB6C1;
            color: black;
        }
        .footer {
            background-color: #f1f1f1;
            padding: 10px;
        }  
            body {
              background-image: url('../wq.jpg');
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
            -o-background-size: 100% 100%, auto;
            -moz-background-size: 100% 100%, auto;
            -webkit-background-size: 100% 100%, auto;
            background-size: 100% 100%, auto;
            }
            .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }
            </style>

</head>
<body><center><hr>【MV Full】Koisuru Fortune Cookie คุกกี้เสี่ยงทาย / BNK48</hr>
    <video width="720" height="480" autoplay>
        <source src="kfc.mp4" type="video/mp4">
      </video></hr>
    </center>
    
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active" >
        <img src="picslide2.jpg" width="100" height="300" width="100" height="300">
        <div class="carousel-caption">
        </div>      
      </div>

      <div class="item">
        <img src="picslide1.jpg" alt="Image">
        <div class="carousel-caption">

        </div>      
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>


<footer class="container-fluid text-center">

</footer>

</body>

</html>
<br><br>
