<!DOCTYPE html>
<html>
    <head>
        <title>BNK48 SHOP</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, intial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
        <img src = "cd1.png" width="auto" height="auto">
        <div class="topnav">

            <a href="/">HOME</a>
            <a href="/list">PRODUCT</a>
            <ul class="nav navbar-nav navbar-right">
                   <a href="/insert">ADD PRODUCT</a>
            </ul>
      </div>
    </div>
<style>
        h1{
            font-family:Hammer Thin; 
        }
        body {
          margin: 0;
          font-size: 20px;
          font-family: Hammer Thin ;
        }
        .topnav {
            overflow: hidden;
            background: #FFF5EE;
        }
        .topnav a {
            float: left;
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        .topnav a:hover {
            background-color: #FFB6C1;
            color: black;
        }
        .footer {
            background-color: #f1f1f1;
            padding: 10px;
        }  
            body {
                background-image: url("wq.jpg");
                background-repeat: no-repeat;
            }
            </style>
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <hr>
            </div>
            <div class="row">
            <div class="col">
               <form method="post" action="insert">
                   <div class="form-group">
                       <label for="PRODUCT">PRODUCT</label>
                       <input type="text" class="form-control" name="PRODUCT" placeholder="PRODUCT NAME">
                   </div>
                   <div class="form-group">
                       <label for="PDDescription">PDDescription</label>
                       <input type ="text" class="form-control" name="PDDescription" placeholder="Product Description">
                   </div>
                     <div class="form-group">
                       <label for="Price">Price</label>
                       <input type ="text" class="form-control" name="Price" placeholder="Price">
                   </div>
                   <div class="form-group">
                        <label for="PicProduct">PicProduct</label>
                        <input type="text" class="form-control" name="PicProduct" placeholder="PRODUCT NAME">
                    </div>
                   </select>

                   
             
                 
                
                   <button type ="submit" class="btn btn-primary">Submit</button>
                   <button type ="reset" class="btn btn-primary">Reset</button>
               </form>
            </div>
        </div>
    </div>

            <script src="jquery-3.2.1.min.js"></script>
            <script src="popper.min.js"></script> 
            <script src="bootstrap/dist/js/bootstap.min.js"></script>
            </body>
</html>