<!DOCTYPE html>
<html>
    <head>
            <link rel="icon" href="zaaa.JPG" type="image/gif" sizes="16x16">
        <title>BNK48 SHOP</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, intial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
        <a href="/"><img src =  "BG.png" width="auto" height="auto"></a>
        <div class="topnav">

            <a href="/">HOME</a>
            <a href="/list">PRODUCT</a>
            <ul class="nav navbar-nav navbar-right">
                   <a href="/insert">ADD PRODUCT</a>
            </ul>
      </div>
    </div>
<style>
        h1{
            font-family:Hammer Thin; 
        }
        body {
          margin: 0;
          font-size: 20px;
          font-family: Hammer Thin ;
        }
        .topnav {
            overflow: hidden;
            background: #FFF5EE;
        }
        .topnav a {
            float: left;
            display: block;
            color: black;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }
        .topnav a:hover {
            background-color: #FFB6C1;
            color: black;
        }
        .footer {
            background-color: #f1f1f1;
            padding: 10px;
        }  
            body {
                background-image: url('../wq.jpg');
            background-repeat: no-repeat;
            background-position: center center;
            background-attachment: fixed;
            -o-background-size: 100% 100%, auto;
            -moz-background-size: 100% 100%, auto;
            -webkit-background-size: 100% 100%, auto;
            background-size: 100% 100%, auto;
            }
            </style>
    </head>
    <body>
            <div class="container"> 
      
            <div class="page-header">
                <hr> <h1><b>|ADD PRODUCT|</b></h1>  <hr>
        </div>
            <div class="col">
               <form method="post" action="insert">
              
                </div>
                <div class="row">
                        <div class="form-group col-md-2">
                                <label for="PicProduct">SET</label>
                                <input type="text" class="form-control" name="PicProduct" placeholder="product set.....">
                            </div>
                <div class="form-group col-md-2">
                        <%
                        province = ["PHOTOSET","PHOTOBOOK","CD"];
                        %>
                        <label for="province">PRODUCT</label>
                        <select class="form-control" name="province" id="province" required>
                            <%
                                for(i=0;i<province.length;i++){
                            %>
                            <option value=<%=i%>><%=province[i]%></option>
                            <% } %>
                        </select>               
                </div>
                <div class="form-group col-md-7">
                    
                        <label for="PDDescription">PDDescription</label>
                        <input type ="text" class="form-control" name="PDDescription" placeholder="Product Description........" tyle="height:200px">
                    </div>

            </div>               
            <br>
            <div class="row">
                   
         
                                  <div class="form-group col-md-2">
                                    <label for="Price">Price</label>
                                    <input type ="text" class="form-control" name="Price" placeholder="Price........">
                                </div>
                                <div class="form-group col-md-2">
                                        <label for="PRODUCT">Amount</label>
                                        <input type="text" class="form-control" name="PRODUCT" placeholder="Amount........">
                                    </div>
                            </div>               
                            <br>
                                 <div class="form-group">
                                     <label for = "sex">PRODUCT STATUS</label>
                                     <div class="custom-control custom-radio">
                                         <input class="custom-control-input" type="radio" name="sex" id="sex1" value="In stock" checked>
                                         <label class="custom-control-label" for="sex1">In stock</label>
                                     </div>
                                     <div class="custom-control custom-radio custom-control-inline">
                                         <input class="custom-control-input" type="radio" name="sex" id="sex2" value="Out stock">
                                         <label class="custom-control-label" for="sex2">Out stock</label>
                                     </div>
                                 </div>
                          
                  
             
                 
                <br>
                   <button type ="submit" class="btn btn-outline-success  btn-lg">Submit</button>
                   <button type ="reset" class="btn btn-outline-danger  btn-lg">Reset</button>
               </form>
            </div>
        </div>
    </div>

            <script src="jquery-3.2.1.min.js"></script>
            <script src="popper.min.js"></script> 
            <script src="bootstrap/dist/js/bootstap.min.js"></script>
            </body>
</html>
<br><br>
<img src =  "botton.png" width="auto" height="auto">