<!DOCTYPE html>
<html>
    <head>
        <title>UPLOAD FILE</title>
        <meta charset="utf-8">
        <meta name="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <div class="page-header">
                <h1>Upload File</h1>
                <hr>
            </div>
            <div class="row">
                <div class="col">
                   <img src="uploads/<%=filename%>">
                   <a href="uploads/<%=filename%>" target="_blank">เอกสารนะเเจ๊ะ</a>
                </div>
             </div>
            </div>
            <script src="jquery-3.2.1.min.js"></script>
            <script src="popper.min.js"></script> 
            <script src="bootstrap/dist/js/bootstap.min.js"></script>
            </body>
</html>